body {
    background-color: #222;
    color: #eee;
}

.card {
    background-color: #333;
    border: none;
}

.card-header {
    background-color: #444;
    color: #eee;
}

#chatbox {
    height: 400px;
    overflow-y: auto;
    padding: 10px;
}

#userinput {
    background-color: #444;
    color: #eee;
    border: none;
}

.form-control::placeholder {
    color: #ccc;
}

.btn-primary {
    background-color: #555;
    border-color: #666;
}

    .btn-primary:hover {
        background-color: #666;
        border-color: #777;
    }
