body {
    background-color: #222;
    color: #eee;
}

.card {
    background-color: #333;
    border: none;
}

.card-header {
    background-color: #444;
    color: #eee;
}

#chatbox {
    height: 400px;
    overflow-y: auto;
    padding: 10px;
}

/* Style the message input box */
#userinput {
    resize: vertical; /* Disable manual resizing */
    overflow-y: auto; /* Add a vertical scrollbar */
    height: auto;
    min-height: 38px; /* Set the initial height */
    max-height: 150px; /* Set the maximum height */
    flex-shrink: 1; /* Allow the textarea to shrink */
}

.form-control::placeholder {
    color: #ccc;
}

.btn-primary {
    background-color: #555;
    border-color: #666;
}

    .btn-primary:hover {
        background-color: #666;
        border-color: #777;
    }
